* {
    box-sizing: border-box
}
body {
    padding: 30px;
    background-color:black 
}
h1 {
    background-color: wheat;
    box-shadow: 3px 3px 3px bisque;
    margin-top: 10px;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    color:black;
}
.row::after {
    content: "";
    display:table;
    clear: both;
}
.leftcolumn {
    border: 2px dashed wheat;
    float:left;
    width:40%;
}
.rightcolumn {
    border: 2px dashed wheat;
    color:gold;
    float:left;
    width:60%;
    padding-left: 20px;  
}
#Nency {
    margin: 10px 10px 10px 10px;
    width: 120px;
    height:160px;
}
table {
    text-align: justify;
    font-family: times;
    font-size: 15px;
    color:gold; 
    padding-left: 10px;
}
.footer {
    background-color: wheat;
    box-shadow: 3px 3px 3px bisque;
    margin-top: 20px;
    padding:5px;
    border-radius: 5px;
    text-align: center;
    color:black
}  